.vertical-menu {
  width: 250px;
  /* Set a width if you like */
  margin-left: auto;
  margin-right: auto;
}

.vertical-menu label {
  color: black;
  /* Black text color */
  padding-top: 18px;
  /* Add some padding */
}

.vertical-menu button {
  color: black;
  /* Black text color */
  margin-top: 18px;
  /* Add some padding */
}

.ErrorMessage {
  color: red !important;
}